.d-flex {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.navbar {
  width: fit-content;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  color: #4A4A4A;
}

.navbar li{
  border-right: 1px solid #D9D9D9;
  padding: 10px;
}

.navbar li:last-child{
  border-right: 0;
}

.error_info {
  justify-content: space-between;
}

.error_info_badge{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}

.justify_error_badge{
  gap: 5px;
  align-items: center;
}

.average_info {
  margin-left: 13px;
}